.policiesContainer {
  margin-top: 2.5rem;
  h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .policiesGrid {
    display: grid;
    gap: 1.5rem;
  }
  .policyCard {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    text-align: center;
    background-color: rgb(249, 250, 251);
    .policyIcon {
      width: 1.5rem;
      height: 1.5rem;
      color: rgb(156 163 175);
      flex-shrink: 0;
      margin: 0 auto;
      display: block;
    }
    .policyName {
      margin-top: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: #111827;
    }
    .policyDesc {
      margin-top: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #6b7280;
    }
  }
}
@media (min-width: 640px) {
  .policiesGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .policiesGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .policiesGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
