.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.inputWrapper {
  position: relative;
  input {
    max-width: 550px;
  }
  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 18px;
    fill: #787878;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .tableContainer {
    padding: 0 10px;
  }

  .table th,
  .table td {
    padding: 8px;
  }

  .searchInput {
    width: 100%;
  }

  .productImage {
    max-width: 50px;
    max-height: 50px;
  }
}
