@import '../../app/scss/mixins.scss';
.dropzone {
  cursor: pointer;
  padding: 4rem;
  margin-top: 2.5rem;
  border: 1px dashed #000000;
  border-radius: 1.3rem;
  transition: border-color 0.1s ease-in-out;
  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    span {
      color: blue;
    }
  }
  &.dragActive {
    border-color: #0040ff;
  }
}

.section {
  margin-block: 2.5rem;
  .preview {
    display: flex;
    gap: 1rem;
    button {
      @include dashboardPrimaryButton;
    }
  }
  .title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin-top: 2.5rem;
    color: #57534e;
  }
  .rejectedTitle {
    margin-top: 6rem;
  }
}
.uploadBtn {
  @include dashboardPrimaryButton;
  padding-block: 0.5rem;
}
