@import 'src/app/scss/breakpoints.scss';
@import 'src/app/scss/layout.scss';

$background-color: #f5f5f3;
$button-border-color: #000;

.section {
  background-color: $background-color;
  .wrapper {
    @extend %section;
  }
  .container {
    @extend %container;
  }
}
