@import '../../../app/scss/mixins.scss';

$embla-dot-size: 1.3rem;
$embla-dot-selected-size: 1rem;

.imageContainer {
  margin-top: 2rem;
  @media (min-width: 1024px) {
    grid-column: span 7 / span 7;
    grid-column-start: 1;
    grid-row: span 3 / span 3;
    grid-row-start: 1;
    margin-top: 0px;
  }
  h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .imageGrid {
    display: none;
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }
    .imagePrimary {
      @media (min-width: 1024px) {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
      }
    }
    .imageItem {
      display: block;
    }
    .imgWrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      .img {
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
  .embla {
    display: block;
    overflow: hidden;
    width: 100%;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .embla__container {
    display: flex;
  }
  .imageGalleryDots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: -0.6rem;
    .embla__dot {
      @include embla-button;
      width: $embla-dot-size;
      height: $embla-dot-size;
      position: relative;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100px;
        transition: width 0.3s ease;
      }

      &--selected:before {
        width: $embla-dot-selected-size;
        background-color: #333;
      }
    }
  }
  .embla__slide {
    min-width: 100%;
    padding: 1rem;
    flex: 0 0 100%;
    .imgWrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      .img {
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}
