/* index.module.scss */

.container {
  position: relative;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  gap: 0.1rem;
  transition: color 0.2s ease-in-out;
  position: relative;

  &:hover {
    color: #e9560c;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

.subMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: max-content;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* padding: 1rem; */
  padding: 8px;
  width: 177px;
  a {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    transition: color 0.2s ease-in-out;
    border-radius: 8px;

    &:hover {
      background-color: #f6f5f5;
    }
  }
}

.container:hover .subMenu {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9560c;
}

.subItem {
  display: block;
  padding: 0 0.5rem 0 1rem;
}
