.adminWrapper {
  display: flex;
  .contentWrapper {
    flex: 1 1 0%;
    .content {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      z-index: 1;
      padding: 2rem;
      .page {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h1 {
          font-size: 48px;
          font-weight: 200;
          color: #09090b;
        }
        h3 {
          font-weight: 200;
          color: #09090b;
          font-size: 1.875rem;
          line-height: 2.25rem;
        }
        h4 {
          font-weight: 500;
          color: #09090b;
          font-size: 1rem;
          line-height: 2.25rem;
        }
        section {
          display: flex;
          flex-direction: column;
          gap: 1.125rem;
          margin-left: 1.725rem;
        }
      }
    }
  }
}
