@import './mixins.scss';

$embla-dot-size: 1.3rem;
$embla-dot-selected-size: 1rem;

.embla__dot {
  @include embla-button;
  width: $embla-dot-size;
  height: $embla-dot-size;
  position: relative;

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    transition: width 0.3s ease;
  }

  &--selected:before {
    width: $embla-dot-selected-size;
    background-color: #333;
  }
}
