.topLinkList {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  li {
    a {
      font-size: 12px;
      color: #666;
      &:hover {
        color: #333;
      }
    }
  }
  .highlight {
    a {
      color: #e9560cd3;
      &:hover {
        color: #e9560c;
      }
    }
  }
}
