// TODO scss dosyalarını ayır renk vs diye ve colors.scss oluştur sitenin tüm renklerini ayarlar :root .dark şeklinde
@import '../../../src/app/scss/breakpoints.scss';
.header {
  width: 100%;
  padding: 0 0 2.5rem 0;
  margin: 0 auto;
  max-width: 1200px;
  .container {
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    .navbarWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .logoWrapper {
        position: relative;
        width: 170px;
        min-width: 60px;
        height: 50px;
      }
      .headerInputWrapper {
        margin: 0 1rem;
        width: 40%;
        position: relative;

        .icon {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          left: 18px;
          fill: #787878;
          overflow: hidden;
        }
      }
      .accountNavigationWrapper {
        ul {
          display: flex;
          li {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  .tabletInputWrapper {
    position: relative;
    display: none;
    padding: 15px 20px;
    .icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 25px;
      left: 35px;
      fill: #787878;
      overflow: hidden;
    }
  }
}
.hamburgerMenu {
  display: none;
}

.open {
  display: none;
}
.close {
  height: calc(100vh - 66px);
  width: 100vw;
  background-color: #f1f2f3;
  color: #212121;
  position: absolute;
  left: 0;
  /* bottom: 0; */
  top: 66px;
  padding: 2em 1.5em;
}

.topLinks {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

/* MEDIA QUERIES */
@include media('<=phone') {
  .header {
    padding: 0.5rem 0;
    .headerInputWrapper,
    span,
    .icon {
      display: none;
    }
    .hamburgerMenu {
      display: block;
    }
    .topLinks {
      display: none;
    }
    .container {
      padding: 0 0.5rem !important;
    }
  }
}
@include media('>phone', '<=600px') {
  .header {
    padding: 0.5rem 0;
    .headerInputWrapper,
    span,
    .icon {
      display: none;
    }
    .hamburgerMenu {
      display: block;
    }
    .topLinks {
      display: none;
    }
    .container {
      padding: 0 0.5rem !important;
    }
  }
}
@include media('>=600px', '<=tablet') {
  .header {
    /* padding: 0.8rem 0; */
    .headerInputWrapper,
    .icon {
      display: none;
    }
    .tabletInputWrapper {
      display: block;
    }
    .tabletInputIcon {
      display: block;
    }
    .hamburgerMenu {
      display: block;
    }
    .topLinks {
      display: none;
    }
    span {
      display: block;
    }
  }
}
@include media('>=tablet') {
  .header {
    /* padding: 1rem 0.5rem; */
    .headerInputWrapper,
    .icon {
      display: none;
    }
    .tabletInputWrapper {
      display: block;
    }
    .tabletInputIcon {
      display: block;
    }
    .hamburgerMenu {
      display: block;
    }
    .topLinks {
      display: none;
    }
    span {
      display: block;
    }
    .container {
      padding: 0.5rem 1rem !important;
    }
  }
}

@include media('>=tablet', '>=desktop') {
  .header {
    /* padding: 1.5rem 0.75rem; */
    span,
    .headerInputWrapper,
    .icon {
      display: block;
    }
    .container,
    .topLinks {
      padding: 0.5rem 1rem !important;
    }
  }
}

@include media('>=desktop', '>=LGdesktop') {
  .header {
    padding: 0 0 2.5rem 0;
  }
}
/* TODO satır azalt. aynı özellik farklı sınıflara verilio / display none gibi */
@media only screen and (min-width: 950px) {
  .header {
    .headerInputWrapper,
    .icon {
      display: block;
    }
    .tabletInputWrapper {
      display: none;
    }
    .tabletInputIcon {
      display: none;
    }
    .hamburgerMenu {
      display: none;
    }
    .topLinks {
      display: flex;
    }
  }
}
