@import '../../../src/app/scss/breakpoints.scss';
@import '../../../src/app/scss/layout.scss';
.section {
  @extend %section;
  margin-top: 0;
  .topLinks {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }

  .container {
    @extend %container;
    .navbarWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .logoWrapper {
        position: relative;
        width: 170px;
        min-width: 60px;
        height: 50px;
      }

      .headerInputWrapper {
        margin: 0 1rem;
        width: 40%;
        position: relative;
        .icon {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          left: 18px;
          fill: #787878;
          overflow: hidden;
        }
      }

      .accountNavigationWrapper {
        ul {
          display: flex;
          li {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  .tabletInputWrapper {
    position: relative;
    display: none;
    padding: 15px 20px;

    .icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 25px;
      left: 35px;
      fill: #787878;
      overflow: hidden;
    }
  }
}

.hamburgerMenu,
.open {
  display: none;
}

.close {
  height: calc(100vh - 66px);
  width: 100vw;
  background-color: #f1f2f3;
  color: #212121;
  position: absolute;
  left: 0;
  top: 66px;
  padding: 2em 1.5em;
  z-index: 999999;
  overflow: scroll;
  .sideMenuAccount {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-weight: 500;
    padding: 15px 20px;
  }
}

@include media('<=phone') {
  .section {
    padding: 0.5rem 0;
    .headerInputWrapper,
    span,
    .icon,
    .topLinks {
      display: none;
    }
    .hamburgerMenu,
    .tabletInputWrapper,
    .tabletInputIcon {
      display: block;
    }
    .tabletInputWrapper {
      padding: 5px 10px;
      input {
        padding-left: 2.5rem;
      }
    }
    .tabletInputIcon {
      top: 15px !important;
      left: 25px !important;
    }
    .close {
      top: 50px;
      height: calc(100vh - 50px);
    }
  }
}

@include media('>phone', '<=600px') {
  .section {
    padding: 0.5rem 0;
    .headerInputWrapper,
    span,
    .icon,
    .topLinks {
      display: none;
    }
    .hamburgerMenu,
    .tabletInputWrapper,
    .tabletInputIcon {
      display: block;
    }
    .tabletInputWrapper {
      padding: 10px 15px;
    }
    .tabletInputIcon {
      top: 20px !important;
      left: 30px !important;
    }
    .close {
      top: 50px;
      height: calc(100vh - 50px);
    }
  }
}

@include media('>=600px', '<=tablet') {
  .section {
    .headerInputWrapper,
    .icon,
    .topLinks {
      display: none;
    }
    .tabletInputWrapper,
    .tabletInputIcon,
    .hamburgerMenu,
    span {
      display: block;
    }
  }
}

@include media('>=tablet') {
  .section {
    .headerInputWrapper,
    .icon,
    .topLinks {
      display: none;
    }
    .tabletInputWrapper,
    .tabletInputIcon,
    .hamburgerMenu,
    span {
      display: block;
    }
  }
}

@include media('>=tablet', '>=desktop') {
  .section {
    span,
    .headerInputWrapper,
    .icon {
      display: block;
    }

    .topLinks {
      padding: 0.5rem 1rem !important;
    }
  }
}

@include media('>=desktop', '>=LGdesktop') {
  .section {
    padding: 0;
  }
}

@media only screen and (min-width: 950px) {
  .section {
    .headerInputWrapper,
    .icon {
      display: block;
    }
    .tabletInputWrapper,
    .hamburgerMenu,
    .tabletInputIcon {
      display: none;
    }
    .topLinks {
      display: flex;
    }
  }
}
