// TODO scss dosyalarını ayır renk vs diye
@import '../../../src/app/scss/breakpoints.scss';
.header {
  width: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;
  .container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1760px;
    width: 100%;
    .navbarWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .headerInputWrapper {
        margin: 0 1rem;
        width: 40%;
        position: relative;
        input {
          width: 100%;
          border: 1px solid #e0e0e0;
          padding: 0.5rem 1.25rem 0.5rem 3.125rem;
          height: 40px;
          border-radius: 100px;
          background-color: #f6f5f5;
          font-size: 0.8rem;
          line-height: 50px;
          transition: border-color 0.2s ease-in-out;
          letter-spacing: 0.32px;
          &::placeholder {
            color: #6b7280;
          }
          &:focus-visible {
            outline: none;
            border-color: #f89f72;
          }
        }
        .icon {
          width: 22px;
          height: 20px;
          position: absolute;
          top: 11px;
          left: 18px;
          fill: #787878;
          overflow: hidden;
        }
      }
      .accountNavigationWrapper {
        ul {
          display: flex;
          li {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

@include media('<=phone') {
  .header {
    padding: 0.5rem 0;
    input,
    span,
    .icon {
      display: none;
    }
    .container {
      padding: 0 0.5rem !important;
    }
  }
}
@include media('>phone', '<=600px') {
  .header {
    padding: 0.5rem 0;
    input,
    span,
    .icon {
      display: none;
    }
    .container {
      padding: 0 0.5rem !important;
    }
  }
}
@include media('>=600px', '<=tablet') {
  .header {
    padding: 0.8rem 0;
    input,
    .icon {
      display: none;
    }
    span {
      display: block;
    }
  }
}
@include media('>=tablet') {
  .header {
    padding: 1rem 0.5rem;
    input,
    .icon {
      display: none;
    }
    span {
      display: block;
    }
    .container {
      padding: 0.5rem 1rem !important;
    }
  }
}

@include media('>=tablet', '>=desktop') {
  .header {
    padding: 1.5rem 0.75rem;
    span,
    input,
    .icon {
      display: block;
    }
    .container {
      padding: 0.5rem 1rem !important;
    }
  }
}

@include media('>=desktop', '>=LGdesktop') {
  .header {
    padding: 2.5rem 0.75rem;
  }
}

@media only screen and (min-width: 950px) {
  .header {
    input,
    .icon {
      display: block;
    }
  }
}
