$embla-dot-size: 1.3rem;
$embla-dot-selected-size: 1rem;

@mixin embla-button {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  border: none;
  outline: none;
}

.popularProducts {
  width: 100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
  margin-top: 5rem;
}

.popularProductsViewport {
  overflow: hidden;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-top: -3.5rem;
}

.popularProductsContainer {
  backface-visibility: hidden;
  display: flex;
  gap: 10px;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .popularProductsContainer {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .popularProductsContainer {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.popularProductsSlide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .popularProductsSlide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .popularProductsSlide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
@media only screen and (max-width: 500px) {
  .popularProductsSlide {
    padding-left: 0;
  }
  .popularProductsDots {
    display: none !important;
  }
}
.popularProductsControls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.popularProductsButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  .embla__button {
    border: 1px solid #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.popularProductsDots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  @include embla-button;
  width: $embla-dot-size;
  height: $embla-dot-size;
  position: relative;

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    transition: width 0.3s ease;
  }

  &--selected:before {
    width: $embla-dot-selected-size;
    background-color: #333;
  }
}
