@import 'src/app/scss/layout.scss';

.categoryPageWrapper {
  @extend %section;
  max-width: 1200px;
  margin: 0 auto;
  .categoryPageContainer {
    @extend %container;
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
  }
}

@media (max-width: 1024px) {
  .categoryPageContainer {
    flex-direction: column;
    gap: 3.75rem;
  }
}
