.descriptionContainer {
  margin-top: 2.5rem;
  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    color: #4f4f4f;
  }
}

.detailsContainer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #e5e7eb;
  .detailsList {
    margin-top: 1rem;
    color: #4f4f4f;
    font-size: 14px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
