@use 'sass:map';
@import 'src/app/scss/breakpoints.scss';
@import 'src/app/scss/layout.scss';
@import 'src/app/scss/common-styles.scss';

.wrapper {
  @extend %section;
  padding: 0;
  margin: 0 auto;
  max-width: 1750px;
  .container {
    @extend %container;
    padding: 0;
    .embla__viewport {
      overflow: hidden;
      height: 70vh;
      position: relative;
      border-radius: 12px;

      .embla__container {
        display: flex;
        height: 100%;
        width: 100%;

        .embla__slide {
          display: flex;
          flex: 0 0 100%;
          min-width: 0;
          a {
            position: relative;
            width: 100%;
          }
          img {
            object-fit: cover;
          }
        }
      }

      .embla__controls {
        display: flex;
        gap: 1.2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;

        .embla__buttons {
          display: flex;
          align-items: center;
          gap: 0.1rem;

          .embla__button {
            @include embla-button;

            &:disabled {
              color: rgb(192, 192, 192);
            }
          }
        }

        .embla__dots {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
          gap: 0.5rem;
        }
      }
    }
  }
}
