.embla__viewport {
  overflow: hidden;
  height: 70vh;
  position: relative;
}
.embla__container {
  display: flex;
  height: 100%;
  width: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  width: 100%;
}
.embla__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.embla__controls {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
/* TODO css düzenle */
.embla__buttons {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  border: none;
  outline: none;
}
.embla__button:hover {
  border-radius: 26%;
}
.embla__button:disabled {
  color: rgb(192, 192, 192);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  gap: 0.5rem;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
}

.embla__dot:before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #333;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  border-radius: 100px;
  transition: width 0.3s ease;
}

.embla__dot--selected:before {
  width: 1rem;
  background-color: #333;
}
