@use 'sass:map';
@import 'src/app/scss/breakpoints.scss';
@import 'src/app/scss/layout.scss';

$embla-dot-size: 1.3rem;
$embla-dot-selected-size: 1rem;

@mixin embla-button {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  border: none;
  outline: none;
}

.wrapper {
  @extend %section;
  padding: 0;
  margin: 0 auto;
  max-width: 1750px;
  .container {
    @extend %container;
    padding: 0;
    .embla__viewport {
      overflow: hidden;
      height: 70vh;
      position: relative;
      border-radius: 12px;

      .embla__container {
        display: flex;
        height: 100%;
        width: 100%;

        .embla__slide {
          flex: 0 0 100%;
          min-width: 0;
          position: relative;
          width: 100%;

          img {
            object-fit: cover;
          }
        }
      }

      .embla__controls {
        display: flex;
        gap: 1.2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;

        .embla__buttons {
          display: flex;
          align-items: center;
          gap: 0.1rem;

          .embla__button {
            @include embla-button;

            &:disabled {
              color: rgb(192, 192, 192);
            }
          }
        }

        .embla__dots {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
          gap: 0.5rem;

          .embla__dot {
            @include embla-button;
            width: $embla-dot-size;
            height: $embla-dot-size;
            position: relative;

            &:before {
              content: '';
              width: 4px;
              height: 4px;
              background-color: #333;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 100px;
              transition: width 0.3s ease;
            }

            &--selected:before {
              width: $embla-dot-selected-size;
              background-color: #333;
            }
          }
        }
      }
    }
  }
}
